body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

	background:white ;
}


.box{
	
	top: 30%;
	
	text-align: center;

	
}
.box1,.box,.box1 li [type="a"]{
	margin: 30% auto;
	width: 100%;
	position: absolute;
	left:50%;
	transform: translate(-50%,-50%);
	background: #7c2525;
	
	background:radial-gradient(#b84040,#7c2525);
	border-radius: 30px;
	
	
}
.box1 p{
	display: inline-block;
	margin : 20px auto;
}
.box h1,.box1 h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
	left: 35%;
	top: -10%;
}

.box input[type="text"],.box1 input[type="text"]{
	margin-left: 45px; 
	background-color:  white;
	
	border : 0;
	
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid ;
	border-color: #d43535;
	padding: 14px 10px;
	width: 200px;
	outline : none;
	color : black;
	border-radius : 24px;
	transition : 0.3s;

} 

.box input[type="text"]:focus,.box1 input[type="text"]:focus{
	width: 220px;
	border-color: #d43535;


	}

.box input[type="submit"],.box1 input[type="submit"]{
	margin: 20px 0px 20px 41.5%;
	border : 0;
	border-color: #d43535;
	background: #7c2525;
	display: block;
	
	text-align: center;
	border: 2px solid ;
	padding: 14px 10px;
	width: 200px;
	outline : none;
	color : rgb(255, 255, 255);
	border-radius: 24px;
	transition: 0.3s;
	border-color:#7c2525 ;
	display: inline;

}

.box input[type="submit"]:hover,.box1 input[type="submit"]:hover{
	transition: 0.5s;
	width: 220px;
		border-color: #e62020;
		background: #bb3f3f;
	
	border-color:#000000 ;


	}

.box2 input[type="button"]{
		
	border: 0;
	border-color: #b84040;
	background: #b84040;
	display: block;
	left: 50%;
	text-align: center;
	border: 2px solid ;
	padding: 14px 10px;
	width: 200px;
	outline : none;
	color :rgb(0, 0, 0);
	border-radius: 24px;
	transition: 2s;
	border-color:#7c2525 ;
	margin-bottom: 10px;
	cursor: pointer;
	

}
	.box1 input[type="button"],.mensagem input[type = "button"]{
		
		border: 0;
		border-color: #b84040;
		background: #b84040;
		display: block;
		margin: 20px 50px 30px 50px;
		text-align: center;
		border: 2px solid ;
		padding: 14px 10px;
		width: 200px;
		outline : none;
		color :rgb(0, 0, 0);
		border-radius: 24px;
		transition: 2s;
		border-color:#7c2525 ;
		margin-bottom: 10px;
		cursor: pointer;
		
	
	}
	.materia input[type = "button"]{
		border: 0;
		border-color: #b84040;
		background: #b84040;
		display: block;
		
		text-align: center;
		border: 2px solid ;
		padding: 14px 10px;
		width: 100%;
		outline : none;
		color :rgb(0, 0, 0);
		border-radius: 24px;
		transition: 2s;
		border-color:#7c2525 ;
		margin-bottom: 10px;
		cursor: pointer;
	

	}
	.box1 input[type="button"]:focus{
		transition: 0.5s;
		width: 210px;
		background: #e78b8b;
		border-color:#000000 ;
	
	
		}

		.wrapper{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			padding: 0 20px;
			
		
		}
		.contato{
			max-width: 550px;
			margin: 0 auto;
			background:radial-gradient(#b84040,#7c2525);
			padding: 30px;
			border-radius:5px;
			display: flex;
			flex-direction: column;
			box-shadow: 0 0 10px rgba(0,0,0,0.13);
		
		
		}
		.campos input[type="text"]{
			background: transparent;
			color: white;
			border: transparent;
		}

		.campos{
			display: flex;
			flex-direction: column;
			margin-right: 4%;
			border-bottom-color: white;
			
			
		
		
		}
		.campos,
		.mensagem{
		width: 48%;
		align-self: center;
		
		}
		
		
		.mensagem textarea{
			height: 200px;
			background: transparent;
			color: white;
			border: transparent;
		}
#menu,#menu ul{
	margin :0;
	padding: 0;
	list-style: none;

}
#menu {
	width: 900px;
	margin: 50px auto;
	
	border-radius: 6px;
	
}
#menu:before,#menu:after{
	content:'';
	display: table;
}
#menu:after{
	clear: both;
}
#menu li{
	float: left;
	box-shadow: 1px 0 0 #444;

}
#menu a{
	float:left;
	padding:12px 30px;
	text-transform: uppercase;
	text-decoration: none;
	color:#fff;

}
#menu li:hover>a{
	color: #fafafa;
	background: #262626;

}
#menu ul{
	margin: 20px 0 0 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 46px;
	left: 29.2%;
	z-index: 1;
	background: #262626;
	border-radius:3px ;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
#menu li:hover>ul{
	opacity: 1;
	visibility: visible;
	margin :0;
}
